parameters:
    level: 8
    paths:
        - src/
    excludePaths:
        # TODO: task 8 will delete/refactor these files; temporarily excluded
        - src/Service/DefaultGlobalSetupService.php (?)
        - src/Service/ScopeGuard.php (?)
        - src/Service/DeployRootResolver.php (?)
