<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    defaultTestSuite="apm"
    failOnWarning="true"
    failOnNotice="true"
    failOnDeprecation="true"
    failOnRisky="true"
    failOnPhpunitDeprecation="true"
    failOnPhpunitNotice="true"
>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="apm">
            <directory>tests</directory>
            <exclude>tests/E2E</exclude>
            <exclude>tests/Property</exclude>
        </testsuite>
        <testsuite name="e2e">
            <directory>tests/E2E</directory>
        </testsuite>
    </testsuites>
    <!-- TODO: task 3/4/5/8 will rewrite or delete these tests; temporarily excluded -->
    <groups>
        <exclude>
            <group>deprecated-scope</group>
        </exclude>
    </groups>
</phpunit>
